@model CS.Models.OrderViewModels.OrderItem

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Coupon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Coupon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CouponPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CouponPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderQuantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderQuantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
